<%= form_for @changeset, topic_path(@conn, :update, @topic), fn f -> %>
  <div class="form-group">
    <%= label f, :title %>
    <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :body %>
    <%= text_input f, :body, placeholder: "Title", class: "form-control" %>
  </div>

  <div class="form-group center">
    <%= submit "Save topic", class: "blue btn" %>
  </div>
<% end %>
